--extra-index-url https://download.pytorch.org/whl/cu121

runpod==1.6.2

torch==2.1.2+cu121
torchvision==0.16.2+cu121  
torchaudio==2.1.2+cu121

opencv-python==4.8.1.78
Pillow==10.0.1
numpy==1.24.3
requests==2.31.0

imageio==2.31.5
imageio-ffmpeg==0.4.9

transformers==4.36.2
accelerate==0.25.0
safetensors==0.4.1

aiohttp==3.9.1
websockets==12.0

xformers==0.0.23+cu121